.order-list-container{
    margin: 15px;
    padding: 16px;
    background-color: #fff;
    .header-container{
        margin-top: 10px;
        .search-order-field{
            width: 264px;
        }
    }
    .checkbox-container{
        flex-wrap: wrap;
        margin: 20px 0px;
    }
}