.sider-wrapper {
  .dms-manufacturer-logo-wrapper {
    background-color: #fff;
    text-align: center !important;
    padding: 24px 0px;
    .ant-image-img{
      width: 60%;
    }
  }

  .sidebar-menu {
    padding-top: 6px;
    height: 100vh !important;
  }
}
