.deliveryorder-container {
  background-color: #ffff;
  margin: 15px;
  padding: 16px;
}
.delivery-title-container {
  justify-content: space-between;
  flex-wrap: wrap;
  .Delivery-searchbar {
    width: 264px;
  }
  .delivery-tools-container {
    flex-wrap: wrap;
  }
}
